/* @import url('db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon'); */
body{
    font-family: 'Pokemon Solid';
    background-image: url('./assets/battle_field.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y:center;
}
h2,h3,h4{
    margin:5px;
}
.pokemon{
    min-width: 0;
    min-height: 0;
    flex-shrink: 1;
}
.battle{
    display: flex;
    flex-direction: column;
    font-family: 'Pokemon Solid';
}
.score{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 200px;
}
div .title-text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.replay-buttons{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.home-buttons{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.competitors{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 1;
}

img{
    height: auto;
    max-width:200px;
    min-width: 0;
    min-height: 0;
}
h2{
    font-size: 35px;
}
.battle-box{
    display: none;
    flex-direction: row;
    align-items: center;
    background-color: #D3D3D3;
    border-radius: 5px;
    max-width: 50%;
    min-height: 100px;
    margin-top: 10px;
    opacity: .8;
}
button{
    background-color: red;
    border: none;
    color:white;
    font-size: 20px;
    height:50px;
    width:100px;
    padding:10px;
    border-radius: 5px;
    margin: 5px 30px;
}
.battle-buttons{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.moveset-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
ul{
    list-style: none;
    font-size:24px;
}
audio{
    position: fixed;
    bottom:0%;
    right:0%;
}
.attack-vis{
    display:none;
}

.attack-vis.animation{
    position: absolute;
    top:35%;
    display: inline;
    background-color: blue;
    animation: attack-s 3s;
}

/* keyframes keyword, animation name */
@keyframes attack-s{
    /* description of the animation */
    0% {
      /* the beginning state of the animation */
      width:5%;
      height:30px;
    }
    50% {
        width:30%;
        height:30px;
    }
    75%{
        width:45%;
        height:30px;
    }
    99% {
        /* the ending state of the animation */
          width:68%;
          height:30px;
      }
    100% {
      /* the ending state of the animation */
        display:none;
    }
  } 

  @media (max-width:700px) {
    img {
      max-width: 30vw;
    }
    .battle-box{
        max-width: 30vw;
        flex-wrap: wrap; 
    }
    h2,h3,h4{
        text-align: center;
    }
  }