/* @import url('db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon'); */
.battle{
    display: flex;
    flex-direction: column;
    font-family: 'Pokemon Solid';
}
div .title-text{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.competitors{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img{
    height: auto;
    width:300px;
}

h2{
    font-size: 35px;
}
.battle-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #D3D3D3;
    border-radius: 5px;
    max-width: 50%;
    min-height: 200px;
}
.battle-click{
    background-color: red;
    border: none;
    color:white;
    font-size: 20px;
    height:50px;
    width:100px;
    padding:10px;
    border-radius: 5px;
    margin: 5px 30px;
}
.attack-vis.animation{
    position: absolute;
    top:15%;
    left:15%;
    /* width:50px;
    height:30px; */
    background-color: blue;
    animation: attack-s 4s;
}

/* keyframes keyword, animation name */
@keyframes attack-s{
    /* description of the animation */
    0% {
      /* the beginning state of the animation */
      width:50px;
      height:30px;
      background-color: blue;
    }
    50% {
        width:250px;
        height:30px;
        background-color: blue;
    }
    75%{
        width:350px;
        height:30px;
        background-color: blue;
    }
    99% {
        /* the ending state of the animation */
          width:500px;
          height:30px;
          background-color: blue;
      }
    100% {
      /* the ending state of the animation */
        display:none;
    }
  } 
