/* @import url('db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon'); */
body{
    font-family: 'Pokemon Solid';
}
.battle{
    display: flex;
    flex-direction: column;
    font-family: 'Pokemon Solid';
}
div .title-text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.competitors{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img{
    height: auto;
    width:300px;
}

h2{
    font-size: 35px;
}
.battle-box{
    display: none;
    flex-direction: row;
    align-items: center;
    background-color: #D3D3D3;
    border-radius: 5px;
    max-width: 50%;
    min-height: 200px;
}
.battle-click{
    background-color: red;
    border: none;
    color:white;
    font-size: 20px;
    height:50px;
    width:100px;
    padding:10px;
    border-radius: 5px;
    margin: 5px 30px;
}
.battle-buttons{
    display:flex;
    flex-direction: column;
}
.moveset-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
ul{
    list-style: none;
    font-size:24px;
}
.attack-vis{
    display:none;
}

.attack-vis.animation{
    position: absolute;
    top:35%;
    display: inline;
    background-color: blue;
    animation: attack-s 3s;
}

/* keyframes keyword, animation name */
@keyframes attack-s{
    /* description of the animation */
    0% {
      /* the beginning state of the animation */
      width:5%;
      height:30px;
    }
    50% {
        width:30%;
        height:30px;
    }
    75%{
        width:45%;
        height:30px;
    }
    99% {
        /* the ending state of the animation */
          width:65%;
          height:30px;
      }
    100% {
      /* the ending state of the animation */
        display:none;
    }
  } 
